// Colors
$clr-light-dark: #2A272A;
$clr-dark-dark: #000000;
$clr-light-light: #DDEEF2;
$clr-accent: #00C6B7;
$clr-blue: #009AFF;
$clr-pink: #F46493;

// Font-family
// $ff: 'Roboto Montserrat Lato Quicksand', sans-serif;

$ff-h1: 'Quicksand', sans-serif;
$ff-h2-h3:'Roboto', sans-serif;
$ff-h4: 'Montserrat', sans-serif;
$ff-body: 'Lato', sans-serif;

// Font-weights
$fw-reg: 400;
$fw-bold: 600;

// Font-size
$fs-h1: 3.9rem;
$fs-h2: 3.125rem;
$fs-h3: 2.5rem;
$fs-h4: 2rem;
$fs-body: 1.6rem;
$fs-small: 1.2rem;